/* ----------------------------------------------------------- */
/* APPLIED TO ALL */

:root {

  /* possible colors */
  --col_white: #FFF9FF;
  --col_pale_pink_1: #FFD9FF;
  --col_pale_pink_2: #F5A0F5;
  --col_bright_pink: #F040F0;
  --col_purple_1: #A030FF;
  --col_purple_2: #8010C0;
  --col_purple_3: #501070;
  --col_dark_purple: #302030;
  --col_dark: #150520;
  --col_disable: #666;

  /* color vars to switch theme */
  --col_nav: var(--col_dark);
  --col_text: var(--col_pale_pink_1);
  --col_but: var(--col_purple_2);
  --col_hover: var(--col_bright_pink);
  --col_list: var(--col_dark_purple);
  --col_card: var(--col_purple_3);

  /* other global vars */
  --padding_top: 110px;
  --transition: background-color 0.7s ease, color 0.7s ease;

  /* ---------------------- */
  /* old values */
  --col_1: #ECE3F6;
  --col_2: #7867CF;
  --col_3: #28177F;
  --col_BG: #CCCCCC;
  --col_B2: #888888;
  /* order cards border coloring */
  --col_C1: yellow;
  --col_C2: red;

}

body {
  margin: 0;
  font-family: 'Roboto';
  padding-top: var(--padding_top);
  transition: var(--transition);
  text-decoration: none;
}

button, 
input,
select {
  cursor: pointer;
  display: inline-block;
  background-color: var(--col_but);
  color: var(--col_text);
  height: 30px;
  padding: 0px 15px;
  border-radius: 15px;
  transition: var(--transition);
  margin: 0px 10px 0px 10px;
  outline: none;
  border: none;
  font-size: 1rem;
}

button:hover, 
input:hover,
select:hover {
  background-color: var(--col_hover);
}

button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

i {
  cursor: pointer;
  color: var(--col_but);
  transition: var(--transition);
  display: block;
}

i:hover {
  color: var(--col_hover);
}

.disabled_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* ----------------------------------------------------------- */
/* NAVBAR */

.nav {
  background-color: var(--col_1);
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
}

.nav_logo img {
  height: 50px;
  vertical-align: middle;
  margin: 10px 20px;
}

.nav_mid {
  flex-grow: 1;
  text-align: center;
}

.nav_but {
  justify-content: flex-end;
  font-size: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.nav_but i {
  padding-right: 12px;
  padding-left: 12px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.nav_but i:hover {
  color: var(--col_2);
  cursor: pointer;
}

/* ----------------------------------------------------------- */
/* MAIN CARDS (ORDERS) */

.order_card {
  background-color: var(--col_1);
  padding: 10px 30px;
  margin: 40px;
  cursor: pointer;
  border: solid 5px var(--col_1);
  padding-bottom: 40px;
  border-radius: 20px;
}

.card_border_c1 {
  border-color: var(--col_C1);
}

.card_border_c2 {
  border-color: var(--col_C2);
}

.order_card:hover {
  background-color: var(--col_BG);
  border: solid 5px var(--col_B2);
}

.order_card h3 {
  display: inline-block;
  margin-right: 60px;
}

.order_card span {
  margin-left: 30px;
}

/* ----------------------------------------------------------- */
/* SPECIFIC ORDER POPUP */

.order_popup_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_1);;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 20px;
}

.order_popup_aliments {
    text-align: left;
}

#order_popup_descr span {
  margin-left: 30px;
}

.order_popup_x {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 20px;
  cursor: pointer;
}

.order_popup_x:hover {
  background-color: red;
}

.order_popup button {
  margin: 20px;
}

/* ----------------------------------------------------------- */
/* FINISHED ORDERS (HISTORY) POPUP */

.history_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.history_popup_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_1);;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 20px;
}

.history_popup_textarea {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  resize: none;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
}

.history_popup_textarea * {
  margin-left: 10px;
  
}

.history_popup_textarea span {
  margin-left: 30px;
  
}

.put_back_order {
  display: flex;
  align-items: center;
  margin: 20px 0px 40px 0px;
  justify-content: center;
}

.put_back_order label {
  margin-right: 10px;
}

.put_back_order input {
  width: 75px;
  padding: 5px;
}

/* ----------------------------------------------------------- */
/* STATISTICS POPUP */

.stats_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.stats_popup_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_1);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 20px;
}

.stats_list {
  width: 100%;
  height: 400px;
  overflow-y: scroll;
  resize: none;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  margin: 0px 0px 30px 0px;
}

/* ----------------------------------------------------------- */
/* MENU MANAGEMENT POPUP */

.menu_manage_popup_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: var(--transition);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_card);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  height: 80%;
  text-align: center;
  border-radius: 20px;
}

.menu_manage_list {
  flex-grow: 1;
  width: calc(100% - 10px);
  height: 100%;
  overflow-y: scroll;
  resize: none;
  background-color: var(--col_nav);
  border: none;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  margin: 0px 0px 30px 0px;
  padding: 5px;
  position: relative;
}

.menu_manage_popup_load_anim {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--col_text);
}



.menu_manage_list_cat_div {
  width: calc(100%);
  height: 40px;
  background-color: var(--col_card);
  border: none;
  border-radius: 5px;
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.menu_manage_list_cat_div input {
  margin-right: 0px;
}

.input_div {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}

.input_div input {
  width: 100%;
  box-sizing: border-box;
}

.menu_manage_list_cat_div_but {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 40px;
}

.menu_manage_list_cat_div_but_1_4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 35px;
  margin-right: 8px;
}

.menu_manage_list_cat_del_disable,
.menu_manage_list_cat_del_disable:hover  {
  cursor: not-allowed;
  color: var(--col_disable);
}

.menu_manage_list_food_div {
  width: calc(100% - 30px);
  height: 80px;
  background-color: var(--col_card);
  border: none;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  margin-left: 30px;
  margin-bottom: 5px;
  display: flex;
}

.menu_manage_list_food_div_img {
  margin: 5px;
}

.menu_manage_list_food_div_img img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 15px;
}

.menu_manage_list_food_div_img img {
  transition: filter 0.3s;
}

.menu_manage_list_food_div_img img:hover {
  filter: grayscale(100%) sepia(50%) hue-rotate(280deg) saturate(2);
  cursor: pointer;
}

.menu_manage_list_food_div_inputs {
  flex: 1;
  align-items: center;
  margin-left: 10px;
}

.menu_manage_list_food_div_inputs input {
  width: 100%;
  box-sizing: border-box;
  margin: 5px 0px;
}

.menu_manage_list_food_div_save {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  width: 35px;
}

.menu_manage_list_food_div_last {
  margin-right: 10px;
  margin-left: 30px;
  padding-bottom: 5px;
}

.menu_manage_list_food_div_avail {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.menu_manage_list_food_div_delete {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 50%;
}

.no_delete,
.no_delete:hover {
  cursor: not-allowed;
  color: rgba(128, 128, 128, 0.37);
}

/* ----------------------------------------------------------- */
/* SETTINGS POPUP */

.settings_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.settings_popup_content {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_1);;
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 20px;
}

.input_number {
  width: 60px;
}

.inline_block {
  display: inline-block;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 15px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #CCC;
  border-radius: 30px;
  transition: background-color 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 0px;
  bottom: 0px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

input:checked + .slider {
  background-color: green;
}

input:focus + .slider {
  box-shadow: 0 0 1px green;
}

input:checked + .slider:before {
  transform: translateX(15px);
}

.color-box {
  display: inline-block;
  width: 40px;
  height: 20px;
  margin: 0 5px;
  border: solid 5px var(--col_B2);
}

.blue-box {
  background-color: #ECE3F6;
}

.yellow-box {
  background-color: yellow;
}

.red-box {
  background-color: red;
}

.loc_text_title {
  margin: 30px 0px -10px 0px;
}

.loc_text {
  width: 100%;
  height: 200px;
  overflow-y: scroll;
  resize: none;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: left;
  display: inline-block;
  margin: 20px 0px 30px 0px;
}