/* ----------------------------------------------------------- */
/* APPLIED TO ALL */

:root {

  /* possible colors */
  --col_white: #FFF9FF;
  --col_pale_pink_1: #FFD9FF;
  --col_pale_pink_2: #F5A0F5;
  --col_bright_pink: #F040F0;
  --col_purple_1: #A030FF;
  --col_purple_2: #8010C0;
  --col_purple_3: #501070;
  --col_dark_purple: #302030;
  --col_dark: #150520;

  /* color vars to switch theme */
  --col_nav: var(--col_dark);
  --col_text: var(--col_pale_pink_1);
  --col_but: var(--col_purple_2);
  --col_hover: var(--col_bright_pink);
  --col_list: var(--col_dark_purple);
  --col_card: var(--col_purple_3);

  /* other global vars */
  --padding_top: 110px;
  --transition: background-color 0.7s ease, color 0.7s ease;

}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding-top: var(--padding_top);
  transition: var(--transition);
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  background-color: var(--col_but);
  color: var(--col_text);
  height: 30px;
  padding: 0px 15px;
  border-radius: 15px;
  transition: var(--transition);
  margin: 0px 10px 0px 10px;
  outline: none;
  border: none;
  font-size: 1rem;
}

button:hover {
  background-color: var(--col_hover);
}

a {
  color: inherit;
  text-decoration: none;
}

/* ----------------------------------------------------------- */
/* NAVBAR */
  
.nav {
  transition: var(--transition);
  background-color: var(--col_nav);
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
}

.nav_logo img {
  height: 50px;
  vertical-align: middle;
  margin: 5px 25px;
}

.nav_mid {
  flex-grow: 1;
  text-align: center;
}
  
.nav_but {
  justify-content: flex-end;
  font-size: 30px;
  padding-right: 30px;
  padding-left: 30px;
}

.nav_but i {
  padding-right: 12px;
  padding-left: 12px;
  transition: var(--transition);
  color: var(--col_but);
}

.nav_but i:hover {
  color: var(--col_hover);
  cursor: pointer;
}

/* ----------------------------------------------------------- */
/* CATEGORIES BUTTONS BAR */

.catbar {
  transition: var(--transition);
  background-color: var(--col_nav);
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 50px;
}

.catbar_but {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  padding: 0px 20px;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch; /* smooth scroll iOS */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
  display: inline-block;
  margin: 20px 0px;
}

.catbar_but::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.cat_bar_but_hover {
  background-color: var(--col_hover);
}

/* ----------------------------------------------------------- */
/* FOOD CARDS LIST */

.food_grids_list {
  transition: var(--transition);
  background-color: var(--col_list);
}

.food_grids_list section {
  padding: 15px;
}

.categ_section {
  border-top: solid 1px var(--col_but);
}

.categ_section h2 {
  transition: var(--transition);
  color: var(--col_text);
  padding-left: 15px;
}

.foods_grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.food_card {
  transition: var(--transition);
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 10px;
  padding: 15px;
  /* border: 1px solid #ccc; */
  background-color: var(--col_card);
  border-radius: 10px;
  margin: 10px;
  color: var(--col_text);
  font-size: 1rem;
  cursor: pointer;
}

.food_card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.food_card > div {
  margin: 5px 15px;
}


.food_details {
  display: flex;
  flex-direction: column;
}

.food_name_price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  margin: 0;
}

.food_name {
  margin-right: 10px;
}

.qty_btn {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

.qty_settings {
  display: flex;
  padding-top: 0px !important;
}

.qty_input {
  transition: var(--transition);
  width: 20px;
  height: 30px;
  padding: 0 10px;
  text-align: center;
  border: none;
  border-radius: 5px;
  background-color: var(--col_but);
  color: var(--col_text);
}

.qty_input:hover {
  background-color: var(--col_hover);
}

.qty_input::-webkit-inner-spin-button,
.qty_input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qty_input[type="number"] {
  -moz-appearance: textfield;
}

.qty_minus {
  margin-left: 0px;
}

.add_but {
  flex-grow: 1;
  margin-right: 0px;
}

/* ----------------------------------------------------------- */
/* FOOD POPUP */

.food_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;  
}

.food_popup_content {
  transition: var(--transition);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_card);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 20px;  
}

.food_popup_details {
  
}

/* ----------------------------------------------------------- */
/* LOCATION POPUP */

.loc_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;  
}

.loc_popup_content {
  transition: var(--transition);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_card);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 20px;  
}

.loc_popup_text {
  color: var(--col_text);
}

/* ----------------------------------------------------------- */
/* USER POPUP */

.user_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;  
}

.user_popup_content {
  transition: var(--transition);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_card);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: center;
  border-radius: 20px;  
}

.user_text {
  color: var(--col_text);
}

/* ----------------------------------------------------------- */
/* CART POPUP */

.cart_popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;  
}

.cart_popup_content {
  transition: var(--transition);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--col_card);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  text-align: right;
  border-radius: 20px;
}

.cart_list {
  width: 100%;
  height: 400px;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: var(--col_list);
  overflow: scroll;
  text-align: left;
  padding: 5px;
}

.cart_list_item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  position: relative;
}

.cart_list_item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 15px;
  margin-right: 10px;
}

.cart_list_item_text {
  height: 100%;
  color: var(--col_text);
  flex: 1;
  /* border: solid 1px #ddd; */
}

.cart_list_item_name {
  font-weight: bold;
}

.cart_list_item_price {
  position: absolute;
  top: 0;
  right: 70px;
}

.cart_list_item_options {
  /* font-size: 14px; */
}

.cart_list_item_delete {
  width: 60px;
  height: 40px;
  position: relative;
  /* border: 1px solid #d00; */
  display: flex;
  align-items: center;
  justify-content: center;

}

.cart_list_item_delete i {
  cursor: pointer;
  transition: var(--transition);
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 2rem;
  padding-left: 10px;
}

.cart_list_item_delete i:hover {
  color: var(--col_hover);
}

.cart_numbers {
  display: flex;
  flex-direction: column;
  width: 40%;
  color: var(--col_text);
  margin: 30px 10px 20px 60%;
}

.cart_numbers_row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.cart_numbers_left {
  text-align: left;
}

.cart_numbers_right {
  text-align: right;
}

/* ----------------------------------------------------------- */
/* CART QTY ANIMATION */

.cart_qty {
  position: absolute;
  right: 25px;
  top: 5px;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 50%;
  font-size: 14px;
  background-color: var(--col_but);
  color: var(--col_text);
  transition: var(--transition);
}

.fa-cart-shopping:hover .cart_qty {
  background-color: var(--col_hover);
}

.cart_qty_anim {
  animation-name: cart_qty_pulse;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

@keyframes cart_qty_pulse {
  0% {
    transform: scale(1);
    background-color: var(--col_but);
  }
  17% {
    transform: scale(2.5);
    background-color: var(--col_hover);
  }
  34% {
    transform: scale(1);
    background-color: var(--col_but);
  }
  50% {
    transform: scale(2);
    background-color: var(--col_hover);
  }
  67% {
    transform: scale(1);
    background-color: var(--col_but);
  }
  84% {
    transform: scale(1.5);
    background-color: var(--col_hover);
  }
  100% {
    transform: scale(1);
    background-color: var(--col_but);
  }
}